In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('/kaggle/input/car-price/carprices.csv')
df

                Car Model  Mileage  Sell Price($)  Age(yrs)
0                  BMW X5    69000          18000         6
1                  BMW X5    35000          34000         3
2                  BMW X5    57000          26100         5
3                  BMW X5    22500          40000         2
4                  BMW X5    46000          31500         4
5                 Audi A5    59000          29400         5
6                 Audi A5    52000          32000         5
7                 Audi A5    72000          19300         6
8                 Audi A5    91000          12000         8
9   Mercedez Benz C class    67000          22000         6
10  Mercedez Benz C class    83000          20000         7
11  Mercedez Benz C class    79000          21000         7
12  Mercedez Benz C class    59000          33000         5

In [8]:
from sklearn.linear_model import LinearRegression
dummies = pd.get_dummies(df['Car Model']).astype(int)
dummies

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [12]:
all_data=pd.concat([df,dummies],axis=1)
all_data

,Car Model,Mileage,Sell Price($),Age(yrs),Audi A5,BMW X5,Mercedez Benz C class
0,BMW X5,69000,18000,6,0,1,0
1,BMW X5,35000,34000,3,0,1,0
2,BMW X5,57000,26100,5,0,1,0
3,BMW X5,22500,40000,2,0,1,0
4,BMW X5,46000,31500,4,0,1,0
5,Audi A5,59000,29400,5,1,0,0
6,Audi A5,52000,32000,5,1,0,0
7,Audi A5,72000,19300,6,1,0,0
8,Audi A5,91000,12000,8,1,0,0
9,Mercedez Benz C class,67000,22000,6,0,0,1
10,Mercedez Benz C class,83000,20000,7,0,0,1
11,Mercedez Benz C class,79000,21000,7,0,0,1
12,Mercedez Benz C class,59000,33000,5,0,0,1

In [36]:
all_data.drop(["Car Model"],axis='columns',inplace=True)

In [38]:
x=all_data.drop(['Sell Price($)'],axis='columns')
x

    Mileage  Age(yrs)  Audi A5  BMW X5  Mercedez Benz C class
0     69000         6        0       1                      0
1     35000         3        0       1                      0
2     57000         5        0       1                      0
3     22500         2        0       1                      0
4     46000         4        0       1                      0
5     59000         5        1       0                      0
6     52000         5        1       0                      0
7     72000         6        1       0                      0
8     91000         8        1       0                      0
9     67000         6        0       0                      1
10    83000         7        0       0                      1
11    79000         7        0       0                      1
12    59000         5        0       0                      1

In [39]:
y=all_data['Sell Price($)']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell Price($), dtype: int64

In [40]:
model=LinearRegression()

In [41]:
model.fit(x,y)

LinearRegression()

In [42]:
model.score(x,y)

0.9417050937281083

In [43]:
model.predict([[25000,4,0,1,0]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([37655.55177272])

In [46]:
model.predict([[26240,6,1,0,0]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([38816.35970885])

In [47]:
model.predict([[26220,5,0,0,1]])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([42609.75651561])